name: Sync Templates to S3

on:
  push:
    branches: [main]
    paths: [templates/**]

permissions:
  id-token: write
  contents: read

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::609607806531:role/aws-easy-github-actions
          aws-region: ap-southeast-2

      - name: Sync templates to S3
        run: aws s3 sync templates/ s3://aws-easy-templates/templates/ --exclude "*/README.md" --delete
